subscription_id = "YOUR-SUBSCRIPTION-ID"
tenant_id = "YOUR-TENANT-ID"
location = "YOUR-REGION"
default_name = "YOUR-IDENTIFIER"

acre_name = "INSTANCE-NAME"
acre_resource_group = "RESOURCE-GROUP-NAME"

mssql_admin_user = "ADMIN-USER"
mssql_admin_pass = "ADMIN-PASS"
mssql_instance_name = "INSTANCE-NAME"

vnet_name = "VNET-NAME"